@font-face {
    font-family: 'ITC Machine Std';
    src: url('MachineStd.woff2') format('woff2'),
        url('MachineStd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

