h1 {
    font-size: 24px;
}

span.links{
    padding-left: 10px;
    padding-right: 10px;
}
span.seperator{
    padding: 100%
}
a.link{
    /* button */
    background-color: #4CAF50;  /*Green */
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}


h2.paraheader{
    text-align: center;

}

p.body-center{
    text-align:center;
}

h1.center{
    text-align: center;
}

p.footer{
    font-size: small;
}