h1 {
    font-size: 24px;
}

span.links{
    padding-left: 10px;
    padding-right: 10px;
}
span.seperator{
    padding: 100%
}

h2.paraheader{
    text-align: center;

}

p.body-center{
    text-align:center;
}

h1.center{
    text-align: center;
}

p.footer{
    font-size: x-small;
    text-align: justify;
}
